*{
    margin: 0;
    padding: 0;
}
#vid{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
nav{
    display: flex;
    background-color:#0F1035;
    justify-content: space-around;
    padding-top: 0.5vw;
    padding-bottom: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #FFE7C1;
}
.links a{
    padding: 1vw;
    text-decoration: none;
    color: #FFE7C1;
    font-size: 30px;
}
.banner{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 5vw;
    margin-top: 12vw;
    color: rgb(177, 182, 166);
}
@media screen and (max-width: 600px){
    nav{ position: relative; background-color: rgba(0, 0, 0, 0.669);}
    .pagetitle{
        padding: 1vw;
        color: #596FB7;
        transition: .5s;
        font-size: 30px;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.669);
        min-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.728);
        transition: .5s;
    }
    .links a{
        color: black;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
        transition: .5s;
        margin-left: 0;
        padding-left: 1vh;}
    
    .links a:hover{background-color: #ddd; transition: .5s;}
    nav:hover .links{display: block; transition: .5s;}
    nav:hover .pagetitle{background-color: #2e73eb; transition: .5s;}
}
footer{
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0vw;
    background-color: rgba(54, 51, 51, 0.671);
    display: block;
    margin-top: 50vh;
    padding-top: 2vh;
}
.icon{
    background: url(../media/sprite3.png);
    background-repeat: no-repeat; width: 55px;
    height: 55px;
    display: inline-block;
}

#twitter{background-position: -66px -72px;;}
#insta{background-position: -290px -221px;}
#youtube{background-position: -439px -221px;}
#fb{background-position: -439px -146px;}